.footer {
    margin-top: 70px;
    padding: 30px 0 30px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.footer p {
    text-align: center;
}

body {
    padding-top: 70px;
}

div.search-input-group {
    width: 400px;
}

h4.conference {
    color: grey;
    text-transform: uppercase;
    font-size: 0.8em;
}

p.summary {
    font-weight: bold;
}

.panel-default:nth-of-type(odd) {
    background: #ffffff !important;
}

.panel-default:nth-of-type(even), .panel-default:nth-of-type(even) .btn-default, .panel-default:nth-of-type(even) .list-group-item {
    background: #f5f5f5 !important;
}

div.video {
    text-align: center;
}

img.avatar {
    width: 75px;
    float: left;
    margin-right: 10px;
}

div.speakers {
    margin-bottom: 10px;
}