<!DOCTYPE html>
<html lang="en" ng-app="jzes">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>JavaZone Search</title>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>

    <script src="lib/angular/angular.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

</head>

<body>

<div class="container" ng-controller="SearchController as sc">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="MenuController as mc">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Search JavaZone</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <form class="navbar-form navbar-left" role="search" id="search-form" name="search-form">
                    <div class="input-group search-input-group">
                        <input type="text" class="form-control" placeholder="Search" id="query" name="query"
                               ng-model="sc.searchText">

                        <div class="input-group-btn">
                            <button type="submit" ng-click="sc.search()" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Conferences
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="conference in mc.conferences | orderBy:'-name'">
                                <a ng-click="sc.addFilter('conference.name.raw', conference.name)" href="#">{{
                                    conference.name }} <span class="badge">{{ conference.count }}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Groups
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="group in mc.groups | orderBy:'-name'">
                                <a ng-click="sc.addFilter('conference.group.raw', group.name)" href="#">{{
                                    group.name }} <span class="badge">{{ group.count }}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row" class="video" ng-if="sc.currentVideo">
        <div class="well well-sm">
            <a ng-click="sc.removeVideo()" class="btn btn-xs btn-default">Hide Video</a>
        </div>
        <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
            <iframe ng-src="{{ sc.currentVideo }}" class="embed-responsive-item"
                    id="videoPlayer" align="center"></iframe>
        </div>
    </div>

    <div class="row" ng-if="sc.filters.length > 0">
        <div class="well well-sm">
            <div class="btn-group" role="group">
                <a ng-repeat="filter in sc.filters" ng-click="sc.removeFilter(filter)" href="#" class="btn btn-default">{{
                    filter.value }} <span class="glyphicon glyphicon-remove-circle"></span></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <h2 ng-if="sc.count > 1">{{ sc.count }} sessions</h2>

            <nav ng-hide="sc.lastPage === 1">
                <ul class="pager">
                    <li ng-class="sc.prevPage == 0 ? 'disabled' : ''"><a ng-click="sc.gotoPage(sc.prevPage)"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li>Page {{ sc.page }} of {{ sc.lastPage }}</li>
                    <li ng-class="sc.nextPage == 0 ? 'disabled' : ''"><a ng-click="sc.gotoPage(sc.nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>

            <div class="panel panel-default" ng-repeat="hit in sc.results">
                <div class="panel-body">
                    <h3>{{ hit.title }}</h3>

                    <h4 class="conference">{{ hit.conference.name }}</h4>

                    <p class="summary">{{ hit.summary }}</p>

                    <p class="content" ng-show="hit.expanded">{{ hit.content }}</p>

                    <h4>Speakers</h4>

                    <p ng-repeat="speaker in hit.speakers">{{ speaker.name }}</p>

                    <p>
                        <a ng-hide="hit.expanded" ng-click="sc.expand($index)" class="btn btn-xs btn-default">More</a>
                        <a ng-show="hit.expanded && sc.count > 1" ng-click="sc.collapse($index)" class="btn btn-xs btn-default">Less</a>
                        <a ng-if="hit.video" ng-click="sc.playVideo($index)" class="btn btn-xs btn-default">Video</a>
                    </p>

                    <h4 ng-show="hit.expanded">Details</h4>

                    <div class="row" ng-show="hit.expanded">
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="keyword in hit.keywords">{{ keyword }}</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Format:</th>
                                    <td>{{ hit.format }}</td>
                                </tr>
                                <tr>
                                    <th>Level:</th>
                                    <td>{{ hit.level }}</td>
                                </tr>
                                <tr>
                                    <th>Langauge:</th>
                                    <td ng-if="hit.language == 'en'">English</td>
                                    <td ng-if="hit.language == 'no'">Norwegian</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <nav ng-hide="sc.lastPage === 1">
                <ul class="pager">
                    <li ng-class="sc.prevPage == 0 ? 'disabled' : ''"><a ng-click="sc.gotoPage(sc.prevPage)"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li>Page {{ sc.page }} of {{ sc.lastPage }}</li>
                    <li ng-class="sc.nextPage == 0 ? 'disabled' : ''"><a ng-click="sc.gotoPage(sc.nextPage)">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>

        </div>

        <div class="col-md-3">
            <div ng-repeat="nav in sc.navs" ng-if="nav.data.length > 1">
                <h4>{{ nav.name }}</h4>

                <div class="list-group">
                    <a class="list-group-item" ng-repeat="item in nav.data" ng-if="item.key"
                       ng-click="sc.addFilter(nav.type, item.key)">
                        <span class="badge">{{ item.doc_count }}</span>
                        {{ item.key }}
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <footer class="footer" ng-controller="StatsController as sc">
            <p>
                {{ sc.conferenceCount }} conferences
                |
                {{ sc.sessionCount }} sessions
                |
                {{ sc.speakerCount }} speakers
            </p>

            <h4>TODO:</h4>
            <ul>
                <li>All speakers list</li>
                <li>Speaker Pics</li>
                <li>Speaker Bios</li>
                <li>Handling speakers - speakers that are on several sessions over several years are not the same
                    speaker in EMS
                </li>
            </ul>
        </footer>
    </div>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>